$white: white;
$violet70: rgba(87, 25, 228, 0.7);
$violet: rgba(87, 25, 228, 1);
$light_violet: #662AFD;
$grey: #C8C8C8;
$yellow: yellow;
$black: black;

$breakpoint-tablet: 768px;

$breakpoint-laptop: 1200px;

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}