

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
}

p{
	font-size: 1.5rem;
	line-height: 2.5rem;
	padding-bottom: 4rem;
	text-overflow: ellipsis; 
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 5.3rem;
	line-height: 7rem;
	text-align: left;
}

h4 {
	font-size: 2.5rem;
	line-height: 3.5rem;
	text-align: left;
	color: $white;
	font-weight: normal;
}

header, .title-big{
	h1 {
		font-size: 9rem;
		line-height: 9.4rem;
		padding-bottom: 5%;
	}
}

@media (max-width: $breakpoint-laptop) {
	h3 {
		font-size: 2.5rem;
	}
	}

li {
	font-size: 1.5rem;
	line-height: 2.5rem;
	padding-top: 15px;
	padding-bottom: 15px;
}

.title {
	text-align: center;
	h1 {
		vertical-align: middle;
	}
}