* {
  border: 0;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%; }

p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  padding-bottom: 20px; }

h1 {
  font-size: 2.5rem; }

h3 {
  font-size: 3.5rem;
  line-height: 3.7rem;
  text-align: left; }

section {
  width: 100%;
  height: auto; }

.section-full {
  height: 100vh; }

/*section.projects, section.services {
	height: auto;
}*/
.services {
  background-color: blue; }

.left {
  width: 25%;
  float: left;
  overflow: hidden; }

.right {
  width: 55%;
  float: right; }

.left, .right {
  height: 100%;
  padding: 5%; }

.projects-grid {
  display: grid;
  position: relative;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100% 100%; }

.title {
  line-height: 200px;
  text-align: center; }
  .title h1 {
    vertical-align: middle; }

.project {
  position: relative;
  color: white; }
  .project img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; }
  .project .project-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4%; }
  .project .overlay {
    padding: 4%;
    position: absolute;
    top: 0;
    opacity: 0;
    min-height: 88%;
    background-color: rgba(87, 25, 228, 0.7);
    overflow: hidden; }
    .project .overlay h2 {
      padding-bottom: 4%; }
  .project:hover .overlay {
    opacity: 1; }
  .project:hover .project-title {
    opacity: 0; }
