$violet: rgba(87, 25, 228, 0.7);
$white: white;

section {
	width: 100%;
	height: auto;
}

.section-full {
	height: 100vh;
}
/*section.projects, section.services {
	height: auto;
}*/
.services {
	background-color: blue;
}

.left{
	width: 25%;
	float: left;
	overflow: hidden;
}

.right {
	width: 55%;
	float: right;
}

.left, .right {
	height: 100%;
	padding: 5%;
}
